<!doctype html>
<html>
<head>
<meta charset='UTF-8'><meta name='viewport' content='width=device-width initial-scale=1'>
<link rel="stylesheet" type="text/css" href="../css/MainStyle.css">
</head>
<body>
    <section class="dev">
        <figure id="screen-container">
            <img id="screen" src="">
        </figure>
        <section id="keyboard">
            <button id="bt_left" style=""></button>
            <button id="bt_right"></button>
            <button id="bt_up"></button>
            <button id="bt_dowm"></button>
        </section>
    </section>
</body>
</html>